h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

textarea {
    height: 200px;
    width: 85%;
    border: dashed grey 2px;
    border-radius: 5px;
    vertical-align: middle;
}

::placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
}

button,
#generate {
    height: 50px;
    width: 200px;
    background-color: #8b0000;
    border: #8b0000;
    border-radius: 60px;
    border-style: solid;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

button,
#copy {
    height: 50px;
    width: 200px;
    background-color: #bbbbbb;
    border: #bbbbbb;
    border-radius: 60px;
    border-style: solid;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.btn-flow {
    justify-content: space-between;
}